# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore the Python default environment
env/
venv/

# Ignore assembly files
*.pyc
*.pyo
*.pyd

# Ignore local database files
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific folders
__pycache__/
staticfiles/
media/

# Ignore personal settings files
.idea/
.vscode/

.env
